/BaiTap/Tuan7/JavaApplication1/nbproject/private/
/BaiTap/Tuan7/MultiLanguageApp/nbproject/private/
/BaiTap/Tuan7/lesson51/build/
/BaiTap/Tuan7/lesson51/dist/
/BaiTap/Tuan7/lesson51/nbproject/private/
/BaiTap/Tuan7/MultiLanguageApp/build/
/BaiTap/Tuan7/NguyenVoDangCao_2172246/nbproject/private/
/BaiTap/Tuan7/NguyenVoDangCao_2172246/build/
/BaiTap/Tuan7/Thread/nbproject/private/
/BaiTap/Tuan7/Thread/build/
/BaiTap/Tuan7/DoubleBufferingDemo1/nbproject/private/
/BaiTap/Tuan7/DoubleBufferingDemo1/build/
